<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Vote</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #40e0d0 !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			     	<span class="sr-only">Toggle navigation</span> 
			     	<span class="icon-bar"></span> 
			     	<span class="icon-bar"></span> 
			     	<span class="icon-bar"></span>
			    </button>
                <a class="navbar-brand" style="color: black !important" href="#" th:href="@{/}">Voting site</a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <br/>
        <div style="float: right;">
        		<b>Welcome</b> <span sec:authentication="principal.username">User</span> / <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
        </div>
        <br/>
        <br/>
        <p>
        <b>Voting for Committee: </b><b th:text="${committee.name}"></b>
        </p>
        <table class="table table-bordered table-striped">
	      <tr>
	        <th>Name</th>
	        <th>Vote</th>
	      </tr>
	      <tr th:each="candidate : ${candidates}">
	        <td th:text="${candidate.firstName} + ' ' + ${candidate.lastName}" />
	        <td><a href="#" th:href="@{/vote/} + ${candidate.id}">Choose me!</a></td>
	      </tr>
	    </table>
    </div>
	
	<!-- Footer -->
	<footer class="page-footer font-small blue pt-4">
		<!-- Copyright -->
	  	<div class="footer-copyright text-center py-3">
	  	© 2019 Created by Johanna Muñoz
	  	</div>
	  	<!-- Copyright -->
	</footer>
	
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>