<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Error</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #40e0d0 !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
                <a class="navbar-brand" style="color: black !important" href="#" th:href="@{/}">Voting site</a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
    	<div style="text-align: center;">
    	     <h2>Oops! The page doesn't exists or you don't have permissions to see it</h2>
    	</div>
        <br/>
        <br/>
        <br/>
    </div>
	
	<!-- Footer -->
	<footer class="page-footer font-small blue pt-4">
		<!-- Copyright -->
	  	<div class="footer-copyright text-center py-3">
	  	© 2019 Created by Johanna Muñoz
	  	</div>
	  	<!-- Copyright -->
	</footer>
	
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>